@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  background-color: #ffffff;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-page {
  flex-grow: 1;
}


/*  Шапка */


.main-header {
  color: #000000;
  position: relative;
  padding-left: 238px;
}

.logo-link {
  position: absolute;
  left: 70px;
  top: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 450px;
  flex-wrap: wrap;
}

.navigation-item {
  position: relative;

}

.item-current::before {
  content: "";
  height: 1px;
  width: 68px;
  border-bottom: 2px solid #756257;
  position: absolute;
  bottom: -1px;
  left: 15px;
}

.navigation-user {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  width: 312px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  display: block;
  max-width: 160px;
}

.link-user {
  padding: 23px 12px 16px;
}

.like-link {
  position: relative;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.likes-number {
  position: absolute;
  top: 12px;
  right: 6px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #7DB54F;
  border-radius: 50%;
  padding: 4px;
  min-width: 10px;
  height: 17px;
  box-sizing: border-box;
}

.button-item-user {
  min-width: 44px;
  margin-top: 14px;
  margin-left: 20px;
}

.button-navigation-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 32px;
  display: block;
}


/*  Hero */


.welcome {
  background-color: #b29584;
  background-image:
    url("../images/background/hero.svg"),
    url("../images/background/hero-back.jpg");
  background-repeat: no-repeat;
  background-size: 100% 57px, cover;
  background-position: bottom left, 0 0;
  min-height: 485px;
  box-sizing: border-box;
  padding: 51px 0 82px;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
}


/* Преимущества */


.advantages-container {
  max-width: 885px;
  margin: 0 auto;
  padding: 69px 0 100px;
}

.city-advantages {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 15px
}

.about-advantages {
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 61px;
  position: relative;
}

.advantages-title::before {
  position: absolute;
  bottom: -30px;
  left: 85px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.title-white::before {
  background-color: #ffffff;

}

.advantages-description {
  width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-item {
  width: 400px;
  box-sizing: border-box;
  min-height: 385px;
  text-align: center;
  padding: 114px 85px 0;
}

.block-blue {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.block-blue-container {
  background: #82b3d3;
  width: 400px;
  box-sizing: border-box;
  min-height: 385px;
  text-align: center;
  color: #ffffff;
  padding-top: 103px;
  padding-left: 85px;
  padding-right: 85px;
}

.title-white {
  color: #ffffff;
}

.light-blue {
  background: rgba(131, 179, 211, 0.12);
}

.medium-blue {
  background: rgba(131, 179, 211, 0.2);
}


/* Сервис */


.service-container {
  margin: 0 auto;
  padding: 64px 0 64px;
  max-width: 519px;
}

.service-about {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.servive-text {
  margin: 0;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.service-item {
  width: 400px;
  box-sizing: border-box;
  min-height: 385px;
  text-align: center;
  padding: 82px 85px;
  position: relative;
}

.service-item::before {
  content: "";
  width: 75px;
  height: 72px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.item-home::before {
  background: url("../images/service/advantage-home.svg") no-repeat 0 0;
  top: 80px;
  width: 75px;
  height: 72px;
}

.item-food::before {
  background: url("../images/service/advantage-food.svg") no-repeat 0 0;
  top: 80px;
  width: 75px;
  height: 72px;
}

.item-present::before {
  width: 73px;
  height: 76px;
  top: 78px;
  background: url("../images/service/advantage-present.svg") no-repeat 0 0;
}

.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-top: 102px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 29px;
}


.service-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 19px;
}

.search-description {
  margin: 0;
  margin-bottom: 53px;
}

.search-hotel {
  width: 592px;
  margin: 0 auto;
  padding: 96px 0;
}

.search-wraper {
  width: 592px;
  margin: 0 auto;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form-e-mail,
.button {
  font-family: "PT Sans", sans-serif;
}

.button {
  color: #ffffff;
  border-radius: 4px;
}

.button-mail {
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 9px 50px;
}


/* Футер */
/* Подписка */


.main-subscribe {
  background-color: #756257;
  background-image: url("../images/background/Subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.subscribe-container {
  max-width: 684px;
  margin: 0 auto;
  padding: 96px 0 104px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-post {
  margin: 0;
  margin-bottom: 55px;
}

.subscribe-form-e-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #00000099;
  width: 100%;
  padding-left: 20px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.button-mail {
  background: #82b3d3;
  border: none;
  min-width: 232px;
  padding: 8px 50px;
}


/* Соцсети и тел */
.footer-socials-contacts {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding: 44px 0 31px;
}


.footer-socials-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 192px;
}

.footer-socials-item {
  padding: 6px 13px;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}



/* Каталог */
/* Фильтры */


.hotel-header {
  background-color: #756257;
  background-image: url("../images/background/filter-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1060px;
  padding: 35px 0 70px;
  margin: 0 auto;

}

.title-inner {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.hotel-filter {
  display: flex;
}

.hotel-filter-group {
  padding: 0;
  width: 151px;
  border: none;
  margin-right: 70px;
}

.hotel-filter-group:nth-child(2) {
  margin-right: 140px;

}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 32px;
}


.hotel-filter-list {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.range {
  display: flex;
}

.range-wrapper {
  position: relative;
}

.filter-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #0000004d;
  position: absolute;
  right: 12px;
  top: 12px;
}

.range-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 143px;
  box-sizing: border-box;
  padding: 12px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-catalog {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.button-hotel {
  background: #82b3d3;
  margin-bottom: 32px;
}

.button-catalog.button-hotel-off {
  background: transparent;
}


/* Результат поиска */


.block-selection {
  width: 1060px;
  padding: 50px 0 40px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selection-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.cards-show-list {
  list-style-type: none;
}


/* Карточки */


.hotel-list {
  list-style-type: none;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-type,
.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-container {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  justify-content: center;
}

.button-card {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 18px;
  box-sizing: border-box;
}

.hotel-card-link {
  text-decoration: none;
  background: #756157;
  display: inline;
}

.button-favorites {
  background-color: #82b3d3;
}

.button-like {
  background-color: #7db54f;
}

.stars {
  display: inline;
  margin: 0;
  height: 17px;
  background: url("../images/star.svg") space 0 0;
  margin-top: 8px;
}

.hotel-stars-2 {
  width: 42px;
}

.hotel-stars-3 {
  width: 66px;
}

.hotel-stars-4 {
  width: 85px;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  display: inline;
  margin: 0;
  align-self: end;
  background-color: #f2f2f2;
}


/* Пагинация */


.pagination {
  display: flex;
  margin: 0;
  padding: 80px 70px 60px;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  width: 60px;
  background: #82b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  padding: 11px 15px;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background: #f2f2f2;
}

.pass {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.subscribe-title-inner {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-form-e-mail {
  background-color: #f2f2f2;
}

.subscribe-post-inner {
  color: #333333;
}
